# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
db.sqlite3

# If you use local SQLite database files
*.db

# Ignore the local configuration files
.env
*.local

# Não ignore a pasta migrations/ inteira, mas ignore arquivos .pyc e outros irrelevantes
!*/migrations/
*/migrations/*.pyc  # Ignorar apenas arquivos compilados de migração
*/migrations/*.log  # Ignorar logs de migração, se houver

# Não ignore arquivos essenciais de migração
!*/migrations/__init__.py
!*/migrations/0001_initial.py

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
coverage/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
pylint-report.txt

# Ignore IDE or editor folders
.idea/
.vscode/

# Static and media folders
/media/  # Ajuste dependendo do uso do Cloudinary ou outros serviços de armazenamento
/static/

README_ERROR.md

# Virtual environment folders
venv/
.venv/
env/
ENV/

# Ignore pipenv files
Pipfile.lock

# Ignore build files
build/
dist/
*.egg-info/
*.eggs/

# Ignore node_modules if using npm or yarn
node_modules/
