# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
db.sqlite3

# If you use local SQLite database files
*.db

# Ignore the local configuration files
.env
*.local

# Django migration files
migrations/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
coverage/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
pylint-report.txt

# Ignore IDE or editor folders
.idea/
.vscode/

# Static and media folders
/static/
/media/

README_ERROR.md

# Virtual environment folders
venv/
.venv/
env/
ENV/

# Ignore pipenv files
Pipfile.lock

# Ignore build files
build/
dist/
*.egg-info/
*.eggs/

# Ignore node_modules if using npm or yarn
node_modules/
